@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Saira+Extra+Condensed:500");

div[id="root"] {
  width: 100%;
}

body {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(229, 177, 58);
  background: black;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}
